html {
    font-family: monospace;
    font-size: 24px;
    overflow: hidden;
    color:white;
    background-color: black;
}

input {
    border-color: rgb(0, 200, 255);
    border-radius: 8px;
    border-width: 3px;
    border-style: solid;
    font-size: 18px;
    font-family: monospace;
    transition: 0.9s;
    color:white;
    background-color: black;
}

button {
    border-color: rgb(0, 200, 255);
    border-radius: 15px;
    border-width: 5px;
    border-style: solid;
    font-size: 18px;
    font-family: monospace;
    transition: 0.9s;
    color:white;
    background-color: black;
}